button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px darkgray;
    border-radius: 5px;
    gap: 1rem;
}
button > i {
    padding: 0.25rem .5rem;
}
button > i:first-child {
    border-right: solid 1px black;
}
button > i ~ i {
    border-left: solid 1px black;
}